body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
  margin: 0 auto;
}

.lang-list{
  background-color: #dcdcdc;
}

a {
  text-decoration: none;
  color : #2d88be;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.spacelistitems li{
  margin-bottom: 8px;
}

.spacelistitems li a{
  font-size: 20px;
  font-weight: bold;
}

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.battle-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-text{
  color : #6a1b9a;
}

.home-text-h1{
  font-size: 50px;
  margin-top: 6%;
  border: 2px solid #6a1b9a;
  padding: 20px;
}

.home-text-h2{
  text-transform: uppercase;
  border: 2px solid #6a1b9a;
  padding: 20px;
}

.button{
  margin:20px;
  padding:30px;
  background: #6a1b9a;
  width: 200px;
  border: 2px solid #6a1b9a;
  color: white;
  font-size: 25px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 8px 8px 4px #888888;
  transition: 0.2s ease-in-out;
}

.button:hover{
  box-shadow: 3px 3px 2px #888888;
}